name: Build and Test
permissions:
  contents: read

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  build_and_test_with_cmake:
    name: CMake
    strategy:
      matrix:
        os:
        - ubuntu-latest
        compiler: 
        - {c: gcc, cxx: g++}
        - {c: clang, cxx: clang++}

        include:
        - os: macos-latest
          compiler: {c: clang, cxx: clang++}
        - os: windows-latest
          compiler: {c: cl, cxx: cl}
        - os: windows-latest
          compiler: {c: gcc, cxx: g++}
          generator: "Ninja"

    env:
      BUILD_TYPE: Debug
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install coverage tool
        id: install-coverage
        uses: gigabit-clowns/.github/.github/composites/install-cpp-coverage-tool@main
        with:
          compiler-c: ${{ matrix.compiler.c }}
          compiler-cxx: ${{ matrix.compiler.cxx }}

      - name: Configure and build with CMake
        uses: threeal/cmake-action@v2
        with:
          source-dir: ${{ github.workspace }}
          build-dir: "${{ github.workspace }}/build"
          c-compiler: ${{ matrix.compiler.c }}
          cxx-compiler: ${{ matrix.compiler.cxx }}
          generator: ${{ matrix.generator }}
          options: |
            CMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}
            CMAKE_EXPORT_COMPILE_COMMANDS=ON
            XMIPP4_CORE_ENABLE_COVERAGE=ON
          run-build: true
          build-args: --config ${{ env.BUILD_TYPE }}

      - name: Run tests
        uses: gigabit-clowns/.github/.github/composites/run-ctest@main

      - name: Generate coverage report
        uses: ./.github/composites/run-ctest/coverage-report
        with:
          compiler-c: ${{ matrix.compiler.c }}
          compiler-cxx: ${{ matrix.compiler.cxx }}
          cl-coverage-tool: ${{ steps.install-coverage.outputs.opencppcoverage-pwsh }}
          report-path: ${{ github.workspace }}/coverage.xml

      - name: Upload coverage report
        uses: actions/upload-artifact@v5
        with:
          name: coverage-report-${{ matrix.os }}-${{ matrix.compiler.c }}-${{ matrix.compiler.cxx }}
          path: coverage.xml

      - name: Upload build folder (ubuntu-latest + gcc only)
        uses: actions/upload-artifact@v5
        if: matrix.os == 'ubuntu-latest' && matrix.compiler.c == 'gcc'
        with:
          name: build-artifact
          path: build

#  build_with_pip:
#    name: pip
#    if: github.event_name != 'push'
#    strategy:
#      matrix:
#        os:
#        - ubuntu-latest
#        - ubuntu-22.04
#        - macos-latest
#        - windows-latest
#  
#    runs-on: ${{ matrix.os }}
#    defaults:
#      run:
#        shell: bash -el {0}
#    steps:
#      - name: Checkout repository
#        uses: actions/checkout@v6
#
#      - name: Upgrade pip & packaging for ubuntu 22.04
#        if: matrix.os == 'ubuntu-22.04'
#        run: python -m pip install --upgrade pip packaging
#
#      - name: Install xmipp4-core with pip
#        run: pip install . -v

#  build_with_conda:
#    name: conda
#    if: github.event_name != 'push'
#    strategy:
#      matrix:
#        os:
#        - ubuntu-latest
#        - macos-latest
#        - windows-latest
#  
#    runs-on: ${{ matrix.os }}
#    defaults:
#      run:
#        shell: bash -el {0}
#    steps:
#      - name: Checkout repository
#        uses: actions/checkout@v6
#
#      - name: Set up conda
#        uses: conda-incubator/setup-miniconda@v3
#        with:
#          auto-activate: true
#          activate-environment: "" # Base is required for conda-build
#
#      - name: Install conda-build and conda-verify
#        run: conda install -y conda-build conda-verify python=3.12
#
#      - name: Build with conda
#        run: conda build conda

  sonar-scan:
    name: SonarQube scan
    needs: build_and_test_with_cmake
    runs-on: ubuntu-latest
    steps:
      - name: SonarQube Scan
        uses: gigabit-clowns/.github/.github/composites/sonar-scan@main
        with:
          sonar-token: ${{ secrets.SONAR_TOKEN }}
          build-artifact-name: "build-artifact"
          coverage-pattern: "coverage-report-*"
          coverage-path: ${{ github.workspace }}/build
          show-coverage: true
