name: Build and Test
permissions:
  contents: read

on:
  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  build_and_test_with_cmake:
    name: CMake
    strategy:
      matrix:
        os:
        - ubuntu-latest
        compiler: 
        - {cc: gcc, cxx: g++}
        - {cc: clang, cxx: clang++}

        include:
        - os: macos-latest
          compiler: {cc: clang, cxx: clang++}
        - os: windows-latest
          compiler: {cc: cl, cxx: cl}
        - os: windows-latest
          compiler: {cc: gcc, cxx: g++}
          generator: "Ninja"
  
    env:
      BUILD_TYPE: Debug
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install coverage tool
        uses: ./.github/composites/install-coverage-tool

      - name: Configure and build with CMake
        uses: threeal/cmake-action@v2
        with:
          source-dir: ${{ github.workspace }}
          build-dir: "${{ github.workspace }}/build"
          c-compiler: ${{ matrix.compiler.cc }}
          cxx-compiler: ${{ matrix.compiler.cxx }}
          generator: ${{ matrix.generator }}
          options: |
            CMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}
            CMAKE_EXPORT_COMPILE_COMMANDS=ON
            XMIPP4_CORE_ENABLE_COVERAGE=ON
          run-build: true
          build-args: --config ${{ env.BUILD_TYPE }}

      - name: Run tests
        uses: ./.github/composites/run-ctest

      - name: Generate coverage report step 1
        if: matrix.os == 'ubuntu-latest' && matrix.compiler.cc == 'gcc'
        working-directory: "${{ github.workspace }}/build"
        run: |
          geninfo --ignore-errors source --rc geninfo_unexecuted_blocks=1 -o coverage.raw.info .
      
      - name: Generate coverage report step 2
        if: matrix.os == 'ubuntu-latest' && matrix.compiler.cc == 'gcc'
        working-directory: "${{ github.workspace }}/build"
        run: |
          lcov --remove coverage.raw.info \
            '/usr/*' '*/_deps/*' '*/external/*' \
            --output-file coverage.cleaned.info

      - name: Generate coverage report step 3
        if: matrix.os == 'ubuntu-latest' && matrix.compiler.cc == 'gcc'
        working-directory: "${{ github.workspace }}/build"
        run: |
          lcov --extract coverage.cleaned.info \
            "${{ github.workspace }}/src/*" \
            "${{ github.workspace }}/include/*" \
            "${{ github.workspace }}/tests/*" \
            --output-file coverage.info

      - name: Generate coverage report step 4
        if: matrix.os == 'ubuntu-latest' && matrix.compiler.cc == 'gcc'
        working-directory: "${{ github.workspace }}/build"
        run: |
          lcov --list coverage.info

      - name: Generate coverage report step 5
        if: matrix.os == 'ubuntu-latest' && matrix.compiler.cc == 'gcc'
        working-directory: "${{ github.workspace }}/build"
        run: |
          genhtml coverage.info --output-directory coverage_html

      - name: Upload build folder (ubuntu-latest + gcc only)
        uses: actions/upload-artifact@v5
        if: matrix.os == 'ubuntu-latest' && matrix.compiler.cc == 'gcc'
        with:
          name: build-artifact
          path: build

  build_with_pip:
    name: pip
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - ubuntu-22.04
        - macos-latest
        - windows-latest
  
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Upgrade pip & packaging for ubuntu 22.04
        if: matrix.os == 'ubuntu-22.04'
        run: python -m pip install --upgrade pip packaging

      - name: Install xmipp4-core with pip
        run: pip install . -v

  build_with_conda:
    name: conda
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
  
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate: true
          activate-environment: "" # Base is required for conda-build

      - name: Install conda-build and conda-verify
        run: conda install -y conda-build conda-verify python=3.12

      - name: Build with conda
        run: conda build conda

  sonar-scan:
    name: SonarQube scan
    needs: build_and_test_with_cmake
    runs-on: ubuntu-latest
    steps:
      # Checkout step needed to retrieve composite action
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: SonarQube Scan
        uses: ./.github/composites/sonar-scan
        with:
          artifact-name: build-artifact
          artifact-path: ${{ github.workspace }}/build
          sonar-token: ${{ secrets.SONAR_TOKEN }}
