name: Build and Test
permissions:
  contents: read

on:
  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  build_and_test_with_cmake:
    name: CMake
    strategy:
      matrix:
        os:
        - ubuntu-latest
        compiler: 
        - {cc: gcc, cxx: g++}
        - {cc: clang, cxx: clang++}

        include:
        - os: macos-latest
          compiler: {cc: clang, cxx: clang++}
        - os: windows-latest
          compiler: {cc: cl, cxx: cl}
        - os: windows-latest
          compiler: {cc: gcc, cxx: g++}
          generator: "Ninja"
  
    env:
      BUILD_TYPE: Debug
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
    
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Configure and build with CMake
        uses: threeal/cmake-action@v2
        with:
          source-dir: ${{ github.workspace }}
          build-dir: "${{ github.workspace }}/build"
          c-compiler: ${{ matrix.compiler.cc }}
          cxx-compiler: ${{ matrix.compiler.cxx }}
          generator: ${{ matrix.generator }}
          options: |
            CMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}
          run-build: true
          build-args: --config ${{ env.BUILD_TYPE }}

      - name: Run tests
        uses: ./.github/composites/run-ctest

  build_with_pip:
    name: pip
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - ubuntu-22.04
        - macos-latest
        - windows-latest
  
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Upgrade pip & packaging for ubuntu 22.04
        if: matrix.os == 'ubuntu-22.04'
        run: python -m pip install --upgrade pip packaging

      - name: Install xmipp4-core with pip
        run: pip install . -v

  build_with_conda:
    name: conda
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
  
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: true
          activate-environment: "" # Base is required for conda-build

      - name: Install conda-build and conda-verify
        run: conda install -y conda-build conda-verify python=3.12

      - name: Build with conda
        run: conda build conda
